<table style="margin-top: 20px;" class="table table-condensed">
	<thead>
		<tr>
			<th>Name</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					<a asp-action="Details" asp-route-id="@item.Id">@item.Name</a>
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline">Edit</a>
				</td>
				<td>
					<input type="hidden" id="txtIngredientId" value="@item.Id">
					<button type="button" id="deleteButton" class="btn btn-outline">Delete</button>
				</td>
			</tr>
		}
	</tbody>
</table>