@model CookBook.Model.Ingredient

@{
	ViewData["Title"] = "Details";
}

<h2>Details</h2>

@if (Model != null)
{
	<div>
		<h4>Ingredient</h4>
		<hr />
		<dl class="dl-horizontal">
			<dt>
				Name
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Name)
			</dd>
		</dl>

		<div>
			<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
		</div>

	</div>

}
else
{
	<div class="alert alert-danger">
		Ingredient doesn't exist under that ID.
	</div>

}