@using CookBook.Model
@using CookBook.Web.Models
@model List<Ingredient>

@{
	ViewData["Title"] = "Search Ingredients";
}

<h1>Ingredient search</h1>
<div style="margin-top: 20px; margin-bottom: 10px;">
	<partial name="_IngredientFilter" model="new IngredientFilterModel()" />
</div>

<div id="tableWrapper">
	<partial name="_IndexTable" />
</div>

@section scripts{
	<script>
		$(function () {
			$("#submitButton").click(function(){
				$.ajax({type: "POST",
					url: $('form').attr("action"),   
					data: $('form').serialize(), 
					success: function(result){
						$("#tableWrapper").html(result);
				}});
			});

			$("body").on("click", "#deleteButton", function () {
                if (confirm("Do you want to delete this Ingredient?")) {
                    var _ingredient = {};
                    _ingredient.Id = $(this).prev().val();
                    console.log(_ingredient)
                    $.ajax({type: "POST",
                        url: "/Ingredient/Delete",
                        data: _ingredient,
                        success: function (result) {
                            $("#tableWrapper").html(result);
                        }
                    });
                }
            });
		});
	</script>
}