@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-12">
        <div class="text-center" >
            <p>Home cooks are our heroes; it's as simple as that. Allrecipes is a community built by and for kitchen experts: The cooks who will dedicate two days to a perfect beef bourguignon but love the simplicity of a slow-cooker rendition, too. The bakers who labor over a showstopping 9-layer cake but will just as happily doctor boxed brownies for a rich weeknight dessert. The entertainers who just want a solid snack spread, without spending the whole evening shuffling dishes in and out of the oven. </p>
        </div>
    </div>
</div>
