@model CookBook.Model.Recipe

@{
	ViewData["Title"] = "Edit recipe";
}
<div class="row">
	<div class="col-md-4">
		<form asp-action="Edit">
			<input type="hidden" asp-for="Id" />
			<partial name="_CreateOrEdit" />
		</form>
	</div>
</div>

@section scripts{
	<script>
		$(function () {
			$("#submitButton").click(function(){
				$.ajax({type: "POST",
					url: $('form').attr("action"),   
					data: $('form').serialize(), 
					success: function(result){
						$("#tableWrapper").html(result);
				}});
			});
		});
	</script>
}